*{
  font-size: 10px;
}

.App {
  text-align: center;
}

.procuctItems_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.procuctItems_grid div{
  padding: 3% 3%;
  background-color: rgb(225, 226, 227); 
}

.procuctItems_grid h1{
  font-size: 1.2rem;
}

.procuctItems_grid div img{
  width: 10rem;
  height: 10rem;
}

.procuctItems_grid div span{
  width: 10rem;
  height: 10rem;
}

